@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Monda:700');

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-menu {
  margin-left: 3px; 
  margin-right: 3px; 
}

.logo {
  font-family: 'Monda', sans-serif;
  /* font-family: 'Archivo Black', sans-serif; */
  /* font-family: 'Hind Siliguri', sans-serif; */
  /* font-size: 25pt; */

}

.sidebar-menu::a {
  margin-bottom: 5px; 
}

.icon-left {
  margin-right: 10px; 
}
