@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    color: #f0f0f0;
}

#header a  {
    color: #f0f0f0;
}

#header div {
    height: 50px;
}

.header-sidebar {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 230px;
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Dosis', sans-serif;
    background-color: 	 #406283;
    font-size: 17pt;
}

.header-content {
    flex: 1;
    display: flex;
    background-color:#3c74a7;
    align-items: center;
    justify-content: space-between;
}

#sidebar {
    width: 230px;
    /* height: 100vh; */
    min-height: calc(100vh - 50px);
    min-height: 100vh;
    background-color: #303641;
    position: relative;
    left: 0;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
}

#sidebar.collapse {
    left: -230px;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
}

.sidebar-menu li > i, span{
    font-size: 12pt;
}

.sidebar-menu li i {
    margin-right: 25px;
}

.sidebar-menu {
    margin: 10px 10px;
}

.sidebar-menu, ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
}


.sidebar-menu .menu-item {
    padding: 10px;
    margin-left: 10px;
    color: #8d97ad;
    font-size: 15px;
    text-transform: capitalize;
}

#sub-menu-pages li {
    margin-left: 25px;
}

.sidebar-menu .menu-item .more-option {
    position: absolute;
    right: 0;
} 

.sidebar-menu .menu-item:hover {
    color: #fff;
    background: #343942;
}

.sidebar-menu .target-menu {
    padding: 2px;
    margin-left: 6px;
    font-weight: 700;
    color: #8d97ad;
    font-size: 17px;
}


#content {
    flex: 1;
    background-color: #f0f0f0;
    position: relative;
    padding: 10px;
    left: 0;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
}

@media (max-width: 700px) {

    .wrapper {
        /* flex-direction: column; */
    }

    .header-sidebar, .header-content {
        width: 100%;
    }

    #sidebar {
        /* position: fixed; */
        left: 0px;
        /* top: 100px; */
        z-index: 700;
    }
}

